.page {
  position: static;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-size: 100% 100%;
}

.p {
  text-shadow: -1px 1px 0.01px #fff;
  margin: 10px 2px;
  letter-spacing: 5px;
  font-size: 1.2rem;
}

button {
  margin: 10px 9px;
  border-radius: 10px;
  border: none;
  box-shadow: "1px 1px 6px #f369";
}
