$defaultBorder: 2px solid transparent;

@keyframes marqueeBorder {
  0%,
  100% {
    border-image-source: linear-gradient(to right, #0ff0 0%, #0ff 0%, #0000 0%);
    border-image-slice: 100% 0 0 0;
  }

  5% {
    border-image-source: linear-gradient(to right, #0ffa 0%, #0ff 20%, #0000 20%);
    border-image-slice: 100% 0 0 0;
  }

  10% {
    border-image-source: linear-gradient(to right, #0ff 0%, #0ff6 30%);
    border-image-slice: 100% 0 0 0;
  }

  25% {
    border-image-source: linear-gradient(#ff0, #ff00e0);
    border-image-slice: 0 100% 0 0;
  }

  50% {
    border-image-source: linear-gradient(#ff0, #0660);
    border-image-slice: 0 0 100% 0;
  }

  75% {
    border-image-source: linear-gradient(#ff0, #0660);
    border-image-slice: 0 0 0 100%;
  }
}
