*,
a,
body,
abbr,
address,
area,
div,
img,
input,
p,
mark,
html,
span {
  position: relative;
  left: auto;
  top: auto;
  box-sizing: border-box;
  vertical-align: baseline;
  -webkit-user-drag: none;
  // user-drag: none;
  -webkit-user-select: none;
  user-select: none;
}

body,
html {
  font-size: 14px;
  line-height: 1.4rem;
  margin: 0;
  padding: 0;
  border: 0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus-visible {
  outline: none;
}

input[type="button"],
.cursor-pointer {
  cursor: pointer;
}

/** 输入框 */
input[type="text"] {
  width: 200px;
  border-radius: 10px;
  background-color: #000;
  color: #0f9;

  &::placeholder {
    color: #aff9;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

input[type="radio"] {
  width: 0;
  height: 0;
  overflow: hidden;

  + label {
    padding-left: 15px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      top: 50%;
      transform: translate(0, -50%);
      overflow: hidden;
    }

    &::before {
      left: 0px;
      height: 8px;
      width: 8px;

      box-shadow: 1px 1px 3px #000;
      z-index: 1;
    }

    &::after {
      font-size: 8px;
      line-height: 8px;
      z-index: 2;
      left: 0px;
      height: 8px;
      width: 8px;
      color: #fff;
      background-color: #000;
      clip-path: circle(0%);
      transition: all 0.3s;
    }
  }

  &:checked {
    color: #f00;

    & + label {
      color: #0a3;

      &::before {
        box-shadow:
          1px 1px 3px #0f3,
          -1px -1px 3px #0f3;
      }

      &::after {
        background-color: #0a3;
        clip-path: circle(100%);
        transition: all 0.8s;
      }
    }
  }
}

input[type="image"] {
  -webkit-user-select: none;
  user-select: none;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  margin: auto;
  text-align: center;
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 48px;
  font-variant: 1;
  color: transparent;
  background-image: linear-gradient(to left top, #333, #000 10%, #000 30%, #066, #660);
  background-size: 200% 200%;
  background-clip: text;
  font-weight: 600;
  animation: 2s linear 0s infinite h1Background;
}

@keyframes h1Background {
  0%,
  100% {
    background-position: 0% 0%;
  }

  25% {
    background-position: 50% 0%;
  }

  50% {
    background-position: 50% 50%;
  }

  75% {
    background-position: 0% 50%;
  }
}

@keyframes bodyBoxShadow {
  0% {
    border-radius: 12px 6px;
    /* opacity: 0.1; */
    box-shadow:
      1px 1px 8px #0003,
      -1px -1px 12px #0000;
  }

  100% {
    border-radius: 6px 12px;
    /* opacity: 0.1; */
    box-shadow:
      1px 1px 4px #0006,
      -1px -1px 12px #0003;
  }
}
